
<%= simple_form_for(@forma_pagamento) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :usuario %>
    <%= f.input :nome %>
    <%= f.input :descricao %>
    <%= f.input :tipo %>
    <%= f.input :vencimento_fatura %>
    <%= f.input :fechamento_fatura %>
    <%= f.input :status %>
    <%= f.input :categoria %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
