
<%= simple_form_for(@forma_pagamento) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="card">
    <div class="card-body">
      <%= f.hidden_field :usuario_id, value: params[:usuario_id] %>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :nome, label: "Descrição" %>
        </div>
        <div class="col-md-6">
          <%= f.label :tipo, "Tipo de pagamento" %>
          <%= f.select :tipo,
            FormaPagamento.tipos.keys.map { |tipo| [I18n.t("attributes.forma_pagamento_tipos.#{tipo}"), tipo] },
            {}, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= f.label :tipo, "Status" %>
          <%= f.select :status,
            FormaPagamento.status.keys { |status| [status.humanize, status] },
            {}, class: "form-control" %>
        </div>
      </div>
      <div class="row" style="display: none;">
        <div class="col-md-4">
          <%= f.input :vencimento_fatura, label: "Data de vencimento da fatura" %>
        </div>
        <div class="col-md-4">
          <%= f.input :fechamento_fatura, label: "Data de fechamento da fatura" %>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <%= f.button :submit, "Salvar", class: 'btn btn-sm btn-primary' %>
    </div>
  </div>
<% end %>
