<div id="<%= dom_id forma_pagamento %>">
  <p>
    <strong>Usuario:</strong>
    <%= forma_pagamento.usuario_id %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= forma_pagamento.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= forma_pagamento.descricao %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= forma_pagamento.tipo %>
  </p>

  <p>
    <strong>Vencimento fatura:</strong>
    <%= forma_pagamento.vencimento_fatura %>
  </p>

  <p>
    <strong>Fechamento fatura:</strong>
    <%= forma_pagamento.fechamento_fatura %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= forma_pagamento.status %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= forma_pagamento.categoria %>
  </p>

</div>
