<div id="<%= dom_id despesa %>">
  <p>
    <strong>Orcamento:</strong>
    <%= despesa.orcamento_id %>
  </p>

  <p>
    <strong>Forma pagamento:</strong>
    <%= despesa.forma_pagamento_id %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= despesa.descricao %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= despesa.categoria %>
  </p>

  <p>
    <strong>Data gasto:</strong>
    <%= despesa.data_gasto %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= despesa.valor %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= despesa.status %>
  </p>

  <p>
    <strong>Quantidade parcelas:</strong>
    <%= despesa.quantidade_parcelas %>
  </p>

  <p>
    <strong>Parcela atual:</strong>
    <%= despesa.parcela_atual %>
  </p>

  <p>
    <strong>Dia vencimento:</strong>
    <%= despesa.dia_vencimento %>
  </p>

  <p>
    <strong>Data vencimento:</strong>
    <%= despesa.data_vencimento %>
  </p>

  <p>
    <strong>Alertar vencimento:</strong>
    <%= despesa.alertar_vencimento %>
  </p>

</div>
