
<%= simple_form_for(@despesa) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :orcamento %>
    <%= f.association :forma_pagamento %>
    <%= f.input :descricao %>
    <%= f.input :categoria %>
    <%= f.input :data_gasto %>
    <%= f.input :valor %>
    <%= f.input :status %>
    <%= f.input :quantidade_parcelas %>
    <%= f.input :parcela_atual %>
    <%= f.input :dia_vencimento %>
    <%= f.input :data_vencimento %>
    <%= f.input :alertar_vencimento %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
