<%= render 'shared/card_info', titulo: 'Contas', total_itens: @contas.size, link_text: "Cadastrar nova conta", link_url: nova_conta_path %>

<table class="table table-hover table-bordered align-middle shadow-sm rounded">
  <thead class="table-light">
    <tr>
      <th>Descrição</th>
      <th class="text-center">Vencimento</th>
      <th class="text-center">Forma de pagamento</th>
      <th class="text-end">Valor</th>
      <th class="text-center">Situação</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @contas.present? %>
      <% @contas.each do |conta| %>
        <tr>
          <td><%= conta.descricao %></td>
          <td class="text-center">
            <span class="badge bg-info text-dark">
              <%= conta.dia_vencimento %>
            </span>
          </td>
          <td class="text-center">
            <%= formatar_nome_e_tipo_pagamento(conta.forma_pagamento) %>
          </td>
          <td class="text-end fw-semibold">
            <i class="bi bi-currency-dollar"></i>
            <%= number_to_currency(conta.valor || 0, unit: "R$", separator: ",", delimiter: ".", precision: 2) %>
          </td>
          <td class="text-center" id="<%= dom_id(conta, :status_pagamento) %>">
            <%= status_conta(conta, @data_referencia) %>
          </td>
          <td class="text-center">
            <%= link_to "Editar", edit_despesa_path(conta) %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="5" class="text-center text-muted fst-italic">
          <i class="bi bi-emoji-frown"></i> Não há contas cadastradas.
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
