<div>
  <%= render 'shared/filtro_periodo', url: 'root_path' %>

  <div class="row g-3 mb-4">
    <div class="col-md-6">
      <%= render 'despesas/card_resumo_financeiro', ultimas_despesas_lancadas: @ultimos_gastos_lancados %>
    </div>
    <div class="col-md-6">
      <%= render 'despesas/gastos_por_categoria', ultimas_contas_lancadas: @despesas_categoria_contas %>
    </div>    
  </div>
  

  <div class="row g-3 mb-3">
    <div class="col-md-6">
      <%= render 'despesas/ultimos_lancamentos_card', ultimas_despesas_lancadas: @ultimos_gastos_lancados %>
    </div>

    <div class="col-md-6">
      <div class="row g-3">
        <div class="col-md-6">
          <div class="card border-0 shadow-sm h-100">
            <div class="card-body">
              <h6 class="card-title">
                <i class="fa-solid fa-chart-pie me-2 text-primary"></i>
                Distribuição do Orçamento
              </h6>
              <%= pie_chart @dados_orcamento, height: "300px", colors: ["#4caf50", "#2196f3", "#ff9800", "#f44336", "#9c27b0"] %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <%= render 'despesas/categoria_contas', ultimas_contas_lancadas: @despesas_categoria_contas %>
        </div>
      </div>
    </div>
  </div>  
</div>
