<div style="padding-top: 20px;">
  <h4>Visão geral</h4>

  <div class="row">
    <div class="col-sm-4 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Receitas</h5>
          <p class="card-text">R$ 1.000,00</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Despesas</h5>
          <p class="card-text">R$ 500,00</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Teste</h5>
          <p class="card-text">Teste 1</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 20px;">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card" style="max-height: 500px;">
        <div class="card-body overflow-auto">
          <h6 class="card-title">Últimos lançamentos</h6>
          <hr>
          <% if @ultimas_despesas_lancadas.size > 0 %>
            <%= @ultimas_despesas_lancadas.each do |despesa| %>
              <div class="row" style="padding-bottom: 18px;">
                <div class="col-md-8">
                  <p class="mb-0 fw-bold"><%= despesa&.orcamento&.categoria || despesa.categoria&.humanize %></p>
                  <p class="mb-0 text-muted small"><%= despesa&.descricao %></p>
                </div>
                <div class="col-md-4">
                  <p class="mb-0 fw-bold">R$ <%= despesa.valor %></p>
                  <p class="mb-0 text-muted small"><%= despesa.data_gasto %></p>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="row" style="padding-bottom: 18px;">
              <p class="mb-0 fw-bold">Não há lançamentos.</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card" style="max-height: 500px;">
        <div class="card-body overflow-auto">
          <h6 class="card-title">Gráficos</h6>
          <hr>
          <div class="row" style="padding-bottom: 18px;">
            <div class="col-md-8">
              <p class="mb-0 fw-bold">Mercado</p>
              <p class="mb-0 text-muted small">Irmãos Gonçalves</p>
            </div>
            <div class="col-md-4">
              <p class="mb-0 fw-bold">R$ 100</p>
              <p class="mb-0 text-muted small">12/04/2002</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>