<div id="<%= dom_id unidade_familiar %>">
  <p>
    <strong>Nome:</strong>
    <%= unidade_familiar.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= unidade_familiar.descricao %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= unidade_familiar.status %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= unidade_familiar.categoria %>
  </p>

</div>
