<div id="<%= dom_id receita %>">
  <p>
    <strong>Usuario:</strong>
    <%= receita.usuario_id %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= receita.valor %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= receita.descricao %>
  </p>

  <p>
    <strong>Dataentrada:</strong>
    <%= receita.dataEntrada %>
  </p>

  <p>
    <strong>Dataencerramento:</strong>
    <%= receita.dataEncerramento %>
  </p>

</div>
