<div id="<%= dom_id usuario %>">
  <p>
    <strong>Unidade familiar:</strong>
    <%= usuario.unidade_familiar_id %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= usuario.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= usuario.email %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= usuario.senha %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= usuario.status %>
  </p>

  <p>
    <strong>Perfil:</strong>
    <%= usuario.perfil %>
  </p>

  <p>
    <strong>Receber alerta:</strong>
    <%= usuario.receber_alerta %>
  </p>

</div>
