
<div class="card">
  <div class="card-body">
    <h6 class="card-title mb-0 fw-bold">
      <i class="fa-regular fa-user"></i>&nbsp;
      <%= usuario.nome&.upcase %>
    </h6>
    <p class="info-registro">
      Criado em: <%= formatar_data(usuario.created_at, formato: :data_hora) %>
    </p>
    <hr>
    <div class="row" style="padding-bottom: 18px;">
      <div class="col-md-6">
        <span>
          <strong>E-mail:</strong>
          <%= usuario.email %>
        </span>
      </div>
      <div class="col-md-6">
        <span>
          <strong>Situação:</strong>
          <%= usuario.status&.humanize %>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span>
          <strong>Perfil:</strong>
          <%= usuario.perfil&.humanize %>
        </span>
      </div>
      <div class="col-md-6">
        <span>
          <strong>Deve ser alertado sobre o vencimento de contas?</strong>
          <%= usuario.receber_alerta? ? "Sim" : "Não" %>
        </span>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex">
      <div class="ms-auto">
        <%= link_to "Adicionar Receita", new_receita_path(usuario_id: usuario.id), class: "btn btn-sm btn-outline-primary" %>
        <%= link_to "Adicionar cartão", new_forma_pagamento_path(usuario_id: usuario.id), class: "btn btn-sm btn-outline-primary" %>
      </div>
    </div>
  </div>
</div><br>
<div class="d-flex">
  <div class="card col-md-6">
    <div class="card-body">
      <h6 class="card-title mb-0 fw-bold">
        <i class="fa-solid fa-credit-card" style="color: #74C0FC;"></i>&nbsp;
        Cartões cadastrados
      </h6>
      <hr>
      <% usuario.forma_pagamentos&.each do |forma_pagamento| %>
        <div class="d-flex" style="padding-bottom: 18px;">
          <div class="col-md-6">
            <p class="mb-0 fw-bold"><%= forma_pagamento.nome %></p>
          </div>
          <div class="col-md-6">
            <p class="mb-0 text-muted small"><%= t("attributes.forma_pagamento_tipos.#{forma_pagamento.tipo}") %></p>
            <% if forma_pagamento.cartao_credito? %>
              <p class="mb-0 text-muted small">Melhor dia de compra: <%= forma_pagamento.melhor_dia_compra %></p>
              <p class="mb-0 text-muted small">Vencimento: <%= forma_pagamento.dia_vencimento_fatura %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
