<nav>
  <ul>
    <li>Unidade Familiar: <%= UnidadeFamiliar&.first&.nome %></li><hr> <!-- ajustar -->
    <li><%= link_to 'Área administrativa', root_path %></li><hr>
    <li><%= link_to 'Visão geral', root_path %></li>
    <li><%= link_to 'Orçamentos', orcamentos_path %></li>
    <li><%= link_to 'Receitas', receitas_path %></li>
    <li><%= link_to 'Usuários', usuarios_path %></li>
  </ul>
</nav>